






@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);

html,
body {
    width: 100%; 
    height: 100%;
}
body {
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
    color: #d3d3d3;
    webkit-tap-highlight-color: #222;
	background:#fff;
	/* background:url("../image/Rough-Grey-Tilable-Pattern-For-Website-Background.jpg") repeat center fixed; */
}
hr {
    max-width:100px;
    border-width: 3px;
    margin-top: 15px;
    margin-bottom: 15px;
	margin:0 auto;
	border-color:#fff !important;
}
.service-text {
    padding: 0;
    height:200px;
	letter-spacing:1px;
}
#my_account td , #my_account td a{
color:#000;
padding:10px;	
	
}

.row-margin-padd{
	margin-top:20px;
	margin-bottom:20px;
}
.border-policy {
    border: 1px solid #ccc;
    box-shadow: 0px 3px 5px #666;
	margin: 10px 0 10px 0;
}
.easybox{
	text-align:center;
	color:#fff;
	font-size:45px;
}
a {
   outline: none;
}
a:hover, a:active, a:focus {
  outline:none;
}
/* Start Login */
.w3-animate-top{position:relative;-webkit-animation:animatetop 0.6s;animation:animatetop 0.6s}
@-webkit-keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.w3-animate-left{position:relative;-webkit-animation:animateleft 0.6s;animation:animateleft 0.6s}
@-webkit-keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.w3-animate-right{position:relative;-webkit-animation:animateright 0.6s;animation:animateright 0.6s}
@-webkit-keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
#login-form  h4{
	color:#333 !important;
	font-weight:500 !important;
	text-decoration:none !important;
	text-align:center !important;
	font-family:arial !important;
	margin:5px !important;
	text-transform:uppercase !important;
}

.login-input-style input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"]{
	border:1px solid #666;
	height:35px !important;
}

.login-input-style label{
	color:#555;
	font-weight:100px;
	letter-spacing:1px;
}
.panel-login {
	border-color: #ccc !important;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2) !important;
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2) !important;
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2) !important;
	background-color:#f1f1f1; 
}
.panel-login >.panel-heading {
	color: #fff !important;
	background-color: #2BBBAD !important;
	border-color: #2BBBAD !important;
	text-align:center !important;
}
.panel-login >.panel-heading a{
	text-decoration: none !important;
	color: #000 !important;
	font-weight: bold !important;
	font-size: 15px !important;
	-webkit-transition: all 0.1s linear !important;
	-moz-transition: all 0.1s linear !important;
	transition: all 0.1s linear !important;
}
.panel-login>.panel-heading a.active{
	color: #fff !important;
	font-size: 18px !important;
	outline:0;
}
.panel-login>.panel-heading hr{
	margin-top: 10px !important;
	margin-bottom: 0px !important;
	clear: both !important;
	border: 0 !important;
	height: 1px !important;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 30px !important;
	font-size: 13px !important;
	-webkit-transition: all 0.1s linear !important;
	-moz-transition: all 0.1s linear !important;
	transition: all 0.1s linear !important;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	border-color: #ccc !important;
}
.btn-login {
	outline: none !important;
	color: #fff !important;
	font-size: 14px !important;
	font-weight:600;
	height: auto !important;
	font-weight: normal !important;
	padding: 10px!important;
	text-transform: uppercase !important;
	width:150px;
	border-radius:5px;
}

.forgot-password {
	text-decoration: underline !important;
	color:red !important;
	letter-spacing:1px;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline !important;
	color: #666 !important;
}

.btn-register {
	background-color: #1CB94E !important;
	outline: none !important;
	color: #fff !important;
	font-size: 14px !important;
	height: auto !important;
	font-weight: normal !important;
	padding: 14px 0 !important;
	text-transform: uppercase !important;
	border-color: #1CB94A !important;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff !important;
	background-color: #1CA347 !important;
	border-color: #1CA347 !important;
}
#thisMenu > li {
    float:none!important;
    display:inline-block!important;
	outline:0;
}

#thisMenu {
    text-align:center!important;
	margin-top:20px;
}
/* End Login */
.affix {
    background-color: #222;
    opacity: 0.9;
}
.center-nav{
	text-align:center;
	color:#fff;
	margin-top:20px;
}
.center-nav span{
	text-align:center;
	font-size:14px;
	color:#fff;
	margin-top:20px;
}
.center-nav a{
	text-align:center;
	font-size:16px;
	color:#fff;
	margin-top:16px;
	text-decoration:none;
	font-weight:600;
}
.center-nav a:hover{
	text-align:center;
	color:#fff;
	text-decoration:underline;
}
.center-nav a:active{
	text-align:center;
	font-size:18px;
	color:#fff;
	margin-top:10px;
	text-decoration:underline;
	outline:0;
}
/* http://www.menucool.com/jquery-slider */
.center-pills { display: inline-block;}
#thumbnail-slider {
    margin:0 auto; /*center-aligned*/
    width:100%;
    max-width:900px;
    padding:0;
    box-sizing:border-box;
    position:relative;
    -webkit-user-select: none;
    user-select:none;
}

#thumbnail-slider div.inner {    
    /*the followings should not be changed */
    position:relative;
    overflow:hidden;
    padding:0;
    margin:0;
}
 
#thumbnail-slider div.inner ul {    
    /*the followings should not be changed */
    white-space:nowrap;
    position:relative;
    left:0; top:0;
    list-style:none;
    font-size:0;
    padding:0;
    margin:0;
    float:left!important;
    width:auto!important;
    height:auto!important;
}

#thumbnail-slider ul li {
    display:inline-block;
    margin-top:20px;
    margin-bottom:90px;
    margin-left:-30px; margin-right:-30px; /* Spacing between thumbs*/
    -webkit-transform:scale(0.9);
    transform:scale(0.9); /*Note: The scale down will increase the spacing between slides. You can set negative margins as did above to roll back the spacing. */
    -webkit-transition:-webkit-transform 0.5s;
    transition:transform 0.5s;
    box-sizing:content-box;
    text-align:center;
    vertical-align:middle;
    padding:0;
    position:relative;
    list-style:none;
    backface-visibility:hidden;
    
    /*-webkit-filter: grayscale(100%);
	filter: grayscale(100%);*/
    
}
.but_home{margin:3px 5px !important;}
#thumbnail-slider ul li.active {
    -webkit-transform:scale(1.15); 
    transform:scale(1.15); /*Note: if scale is greater than 1, the margin-top and margin-bottom in the selector "#thumbnail-slider li" must be set with a sufficient value so the enlarged image will be shown within the margins.*/
    background-color:transparent;
	outline:0;
    
	/*-webkit-filter: initial;
	filter: initial;*/
}

#thumbnail-slider .thumb {
    width:100%;
    height: 100%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    display:block;
    position:absolute;
    font-size:0;
    cursor:inherit;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), to(rgba(255,255,255,0.4)));
    transition:all linear 0.4s;
	border-radius:60%;
}


/*-- Start 3D --*/
    #thumbnail-slider .thumb {
        -webkit-transform: perspective(500px) translateX(1px) translateZ(-30px) rotateY(30deg);
        transform: perspective(500px) translateX(1px) translateZ(-30px) rotateY(30deg);
    }

    #thumbnail-slider .active .thumb {
        -webkit-transform: translateX(0px) translateZ(0px) rotateY(0deg); 
        transform: translateX(0px) translateZ(0px) rotateY(0deg); 
		outline:0;
    }

    #thumbnail-slider li.active ~ li .thumb {
        -webkit-transform: perspective(500px) translateX(-1px) translateZ(-30px) rotateY(-30deg); 
        transform: perspective(500px) translateX(-1px) translateZ(-30px) rotateY(-30deg); 
		outline:0;
    }
/*-- End 3D --*/

/* --------- navigation controls ------- */   
/* The nav id should be: slider id + ("-prev", "-next", and "-pause-play") */

#thumbnail-slider-pause-play {display:none;} /*.pause*/
#thumbnail-slider-prev, #thumbnail-slider-next {display:none;}



hr.light {
    border-color: #fff;
}

a {
    color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
a, a:active, a:focus, 
button, button:focus, button:active, 
.btn, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
    outline: none;
    outline: 0;
}

input::-moz-focus-inner {
    border: 0;
}
a:hover,
a:focus {
    color: #fff;
     outline: none;
    outline: 0;
}
.column h4{
	color:#fff;
	letter-spacing:1px;
	font-weight:600;
}
.column a{
 color:#f1f1f1;
 letter-spacing:1px;
 font-weight:100;
 font-size: 14px;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
}

/* p {
    font-size: 15px;
    line-height: 1.7;
    margin-bottom: 20px;
} */
.termscond ,.termscond a {
	color:#000;
}

.wide-space {
    letter-spacing: 1.6px;
}

.icon-lg {
    font-size: 50px;
    line-height: 18px;
}

.bg-primary {
    background-color: #333;
}

.bg-dark {
    color: #eee;
    background-color: #222;
}

.cursive {
    font-family: 'Dancing Script', cursive;
    text-transform: none;
}

.text-faded {
    color: rgba(245,245,245,0.7);
}

.text-dark {
    color: #111;
}

.text-primary {
    color: #fff;
}

.modal-content {
    background-color: gray;
}

section {
    padding: 20px 0;
}
#services{
	min-height:600px; 
	background:url("../image/services_img_background.jpg") no-repeat center fixed;
	background-size: cover;
}
#our_partner{min-height:300px;
	padding:50px 0;
	/* background:url(../image/company-partners-background1-1920x772.png) no-repeat center fixed; */
	background:linear-gradient(to left,#7b4397,#dc2430);
}
#customer-testimonial{
	min-height:300px;
	padding:50px 0;
	background: url(../image/peoplebg.png) no-repeat center bottom,linear-gradient(to left,#7b4397,#dc2430);
}
#newsletters{
	min-height:300px !important;
	padding:50px 0 !important;   
	background:url(../image/newletters_back.jpg) no-repeat center fixed; 
}
#newsletters .news_form{
	border: 2px solid #ccc;
	background: #ccc;
	padding: 20px;
	line-height: 22px;
	box-shadow: 1px 2px 5px #555;
	border-radius: 5px;
}
#newsletters .news_form label{
	color:#222;
}
#newsletters .news_form input{
	    border: 1px solid #555;
		background-color: transparent;
		color: #000 !important;
}
#advertisement{
	min-height:300px;
	padding:50px 0;
	background:url(../image/newletters_back.jpg) no-repeat center fixed;
	/* background:url(../image/print-ad-background.jpg) no-repeat fixed; */
	background-size: cover;
}

.btn-primary-news {
    background-color: #2bbbad !important;
    border: 1px solid #2bbbad !important;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
	 margin:auto;
	 margin-top:20px;
	  color:#fff;
	  opacity:0.9;
}
.btn-primary-news:hover {
    background-color: #2bbbad !important;
    border: 1px solid #2bbbad !important;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
	margin:auto;
	color:#fff;
	margin-top:20px;
}

.text-small small{
	color:#fff;
}
aside {
    padding: 50px 0;
}
.circle-position1{
	text-align: center;
	margin: 0 auto;
	padding: 2em 0 3em;
	width:100%;
}
.circle-position1 a{
	color:#fff;
	text-decoration:none;
}
.circle-position1 a :hover{
	color:#fff;
	text-decoration:none;
}
/* Start Carousel */
/* carousel */
/* #quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
} */

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
  outline:0;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
#quote-carousel-ad 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel-ad .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel-ad .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel-ad .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel-ad .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel-ad .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel-ad .carousel-indicators .active 
{
  background: #333333;
  outline:0;
}
#quote-carousel-ad img
{
  width:100%;
}

/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}
.thanks{
	background: url("../image/thank-you-page-examples.jpg") no-repeat center;
	background-size: cover;
	min-height:600px;
	padding:100px 0;
}
.thanks h2{
	color: #fff;
}
.center-pills > li.active > a, .center-pills > li.active > a:focus, .center-pills > li.active > a:hover{
	    color: #fff;
		background-color:#D17447 !important;
		outline:none;
}
#dateRangePicker2{
	
}
.well-thank {
	padding: 30px;
	margin-top: 30px;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	background-color: #fff;
	opacity: 0.6;
	font-size: 20px;
	color: #fff;
	letter-spacing: 1px;
	font-weight: 100;
}

/* Dashboard Start */
.card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 130px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}
.btn-pref-login .btn {
    -webkit-border-radius:0 !important;
}
.btn-border{
	border:1px solid #ccc;
}
.btn-border:hover{
	background-color:#5bc0de;
    border-color:#5bc0de;
}
/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
	  height:200px;
    }
	  #quote-carousel-ad
		{
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }  
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
		outline:0;
    }
	#quote-carousel-ad .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel-ad .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel-ad .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
		outline:0;
    }
}
@-webkit-keyframes @-webkit-keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #fff, 0 0 0 10px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #fff, 0 0 0 10px rgba(255, 255, 255, 0.5);
    -webkit-transform: scale(1.5);
    opacity: 0;
  }
}
@-moz-keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #ccc, 0 0 0 10px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #ccc, 0 0 0 10px rgba(255, 255, 255, 0.5);
    -moz-transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #ccc, 0 0 0 10px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #ccc, 0 0 0 10px rgba(255, 255, 255, 0.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
/* End carousel */
.circleTab {
   display: inline-block;
    font-size: 15px;
    cursor: pointer;
    margin:12px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    padding:20px;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    background: #de6d75;
	 transition: transform ease-out 0.1s, background 0.2s;
	webkit-animation: bounce 2s 1 forwards;
	-moz-animation: bounce 2s 1 forwards;
	animation: bounce 2s 1 forwards; 
	box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75); 
}
.circleTab-equ{
   display: inline-block;
    font-size: 15px;
    cursor: pointer;
    margin:12px;
    width: 130px;
    height: 130px;
    border-radius:0;
    text-align: center;
    position: relative;
    z-index: 1;
    padding:20px;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    background: #de6d75;
	 transition: transform ease-out 0.1s, background 0.2s;
	webkit-animation: bounce 2s 1 forwards;
	-moz-animation: bounce 2s 1 forwards;
	animation: bounce 2s 1 forwards; 
	box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}
 .circleTab:hover {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  color: #fff;
}
  .circleTab:hover:after {
  -webkit-animation: sonarEffect 1s ease-out 10ms;
  -moz-animation: sonarEffect 1s ease-out 10ms;
   animation: sonarEffect 1s ease-out 10ms;
}
 .circleTab:before {
  font-family: FontAwesome;
  speak: none;
  font-size: 48px;
  line-height: 90px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: block;
  -webkit-font-smoothing: antialiased;
}
 .circleTab:after {
  font-family: FontAwesome;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  top: 0;
  left: 0;
  padding: 0;
  z-index: -1;
  opacity: 0;
  -webkit-transform: scale(0.87);
  -moz-transform: scale(0.87);
  -ms-transform: scale(0.87);
  transform: scale(0.87);
}
@media only screen and (min-width:320px) and (max-width: 640px) {
.pop_h1{
	color:#fff;
	letter-spacing:1px;
	font-size:24px;
	text-align:center;
	background:#F4F8FB;
	padding:10px;
}
 #quote-carousel 
    {
      margin-bottom: 0;
		padding: 0 15px;
	  height:350px;
    }
	#quote-carousel .carousel-control {
    background: none;
    color: #222;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 50%;
}
	.btn-xl {
    padding: 12px 20px !important;
    font-size: 16px !important;
	}
.circleTab {
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    margin:5px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    padding: 4px;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    background: #de6d75;
    transition: transform ease-out 0.1s, background 0.2s;
	webkit-animation: bounce 2s 1 forwards;
	-moz-animation: bounce 2s 1 forwards;
	animation: bounce 2s 1 forwards; 
	box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75); 
}
.circleTab i {
    color: #fff;
    font-size:15px !important;
}
}
@-webkit-keyframes bounce {
	0% {
		top: 0;
		animation-timing-function: ease-in;
	}
	16% {
		top: 30px;
		animation-timing-function: ease-out;
	}
	32% {
		top: 5px;
		animation-timing-function: ease-in;
	}
	48% {
		top: 30px;
		animation-timing-function: ease-out;
	}
	62% {
		top: 10px;
		animation-timing-function: ease-in;
	}
	78% {
		top: 30px;
		animation-timing-function: ease-out;
	}
	90% {
		top: 20px;
		animation-timing-function: ease-in;
	}
	100% {
		top: 30px;
		animation-timing-function: ease-out;
	}
}

@-moz-keyframes bounce {
	0% {
		top: 0;
		animation-timing-function: ease-in;
	}
	16% {
		top: 30px;
		animation-timing-function: ease-out;
	}
	32% {
		top: 5px;
		animation-timing-function: ease-in;
	}
	48% {
		top: 30px;
		animation-timing-function: ease-out;
	}
	62% {
		top: 10px;
		animation-timing-function: ease-in;
	}
	78% {
		top: 30px;
		animation-timing-function: ease-out;
	}
	90% {
		top: 20px;
		animation-timing-function: ease-in;
	}
	100% {
		top: 30px;
		animation-timing-function: ease-out;
	}
}

@-ms-keyframes bounce {
	0% {
		top: 0;
		animation-timing-function: ease-in;
	}
	16% {
		top: 30px;
		animation-timing-function: ease-out;
	}
	32% {
		top: 5px;
		animation-timing-function: ease-in;
	}
	48% {
		top: 30px;
		animation-timing-function: ease-out;
	}
	62% {
		top: 10px;
		animation-timing-function: ease-in;
	}
	78% {
		top: 30px;
		animation-timing-function: ease-out;
	}
	90% {
		top: 20px;
		animation-timing-function: ease-in;
	}
	100% {
		top: 30px;
		animation-timing-function: ease-out;
	}
}

@keyframes bounce {
	0% {
		top: 0;
		animation-timing-function: ease-in;
	}
	16% {
		top: 30px;
		animation-timing-function: ease-out;
	}
	32% {
		top: 5px;
		animation-timing-function: ease-in;
	}
	48% {
		top: 30px;
		animation-timing-function: ease-out;
	}
	62% {
		top: 10px;
		animation-timing-function: ease-in;
	}
	78% {
		top: 30px;
		animation-timing-function: ease-out;
	}
	90% {
		top: 20px;
		animation-timing-function: ease-in;
	}
	100% {
		top: 30px;
		animation-timing-function: ease-out;
	}
}

.circleTab i{
	 color: #fff;
	 font-size:30px;
}

.no-padding {
    padding: 0;
}
#topNav{
	transition:1s;
}
.mobile_nav_tt{
	margin-top:10px;text-align:center;
}
.navbar-default {
    border:none;
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
	 padding-bottom:20px !important;
	 background-color:transparent;
	 min-height:70px;
	 clear:both;
}

.navbar-header > .navbar-brand {
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
    color: #fff;
    -webkit-transition: padding .2s ease-in;
    -moz-transition: padding .2s ease-in;
    transition: padding .2s ease-in;
}

.navbar-header > .navbar-brand:hover,
.navbar-header > .navbar-brand:focus {
    color: #8b27b0;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #181818;
}
.navbar-default .navbar-toggle, .navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #eee;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #fff;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #fff !important;
    background-color: transparent;
	outline:0;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover
{
    background-color: transparent;
	outline:0;
}
}
@media(min-width:768px) {
    .navbar-default {
        border-color: transparent;
        background-color: transparent;
        min-height: 60px;
    }

    .navbar-header > .navbar-brand {
        color: rgba(255,255,255,0.7);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #f4f4f4;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,0.8);
        padding: 20px;
        letter-spacing: 1.1px;
        text-shadow: 1px 1px 1px rgba(60,60,60,0.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fefefe;
    }

    .navbar-default.affix {
        background: rgba(0, 0, 0, 0.2) !important;
		border-radius: 0px;
		padding-bottom:25px;
		-webkit-box-shadow: 0px 2px 21px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0px 2px 21px rgba(0, 0, 0, 0.2);
		box-shadow: 0px 2px 21px rgba(0, 0, 0, 0.2);
}
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 15px;
        color: #fff;
        letter-spacing: 1px;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #8b27b0;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #ddd;
        text-shadow: 1px 1px 1px rgba(30,30,30,0.7);
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #fff;
    }
}
  /* Social Icon */
  
 .mt2 {
    margin-top: 2px;
}
.fr {
    display: inline;
    float: right;
}
.soc_links a {
    background-image: url(../images/soc2.png);
}
.soc_links a {
    display: inline-block;
    width: 36px;
    height: 36px;
    background-image: url(../image/soc2.png);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
}
.soc_links a.fbook{
	 background-position: 0px top;
}
.soc_links a.fbook:hover{
	 background-position: 0px bottom;
}
.soc_links a.twit {
    background-position: -36px top;
}
.soc_links a.twit:hover {
    background-position: -36px bottom;
}
.soc_links a.in {
    background-position: -72px top;
}
.soc_links a.in:hover{
    background-position: -72px bottom;
}
.soc_links a.gplus {
    background-position: -108px top;
}
.soc_links a.gplus:hover {
    background-position: -108px bottom;
}
.soc_links a.ytube {
    background-position: -144px top;
}
.soc_links a.ytube:hover {
    background-position: -144px bottom;
}
  
.social-slide {
	height: 48px;
	width: 48px;
	margin: 10px;
	float: left;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.social-slide:hover {
	background-position: 0px -48px;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
}
.social-slide {
    height: 48px;
    width: 48px;
    margin: 10px;
    float: left;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.twitter-hover {background-image: url('../image/twitter-hover.png');}
.facebook-hover{background-image: url('../image/facebook-hover.png');}
.linkedin-hover{background-image: url('../image/linkedin-hover.png');}
.google-hover{background-image: url('../image/google-hover.png');}


#first {
    position: relative;
    min-height: auto;
    text-align: center;
    color: #fff;
    width: 100%;

    background-color: #c9c9c9;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}header{		margin-bottom:45px;}

#first .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
    z-index: 2;
}

#first .header-content .inner h1 {
    margin-top: 0;
    margin-bottom: 0;
}
.pop_h1{
	color:#555;
	letter-spacing:1px;
	font-size:32px;
	text-align:center;
	padding:22px;
	clear:both;
	background:#EDEDED;
	box-shadow:0 1px 2px #ddd;
	border-bottom:2px solid #ccc;
	font-family:Tahoma;
	
}
.container-fluid{margin:0 !important;padding:0 !important;}
.row{margin:0 !important;}
.pop_h1 p{
	font-size:20px;
	color:#777;
}
#first .header-content .inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,0.7);
}

#video-background {
  position: absolute;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: 1;
}

#video-background.collapsing {
  display:none;
}

#footer {
    background-color:#2bbbad;
	padding:15px;
	bottom:0;
	width:100%;
}
.text-center-capitalize {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    color: #fff;
}
@media(min-width:768px) {
    .icon-lg {
        font-size: 80px;
    }
    

    #first {
        min-height: 100%;
    }

    #first .header-content {
        position: absolute;
        top: 60%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    #first .header-content .inner {
        margin-right: auto;
        margin-left: auto;
    }

    #first .header-content .inner h1 {
        font-size: 53px;
    }

    #first .header-content .inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
    
    section {
        min-height: 400px;
        padding: 100px 0;
    }

}
.btn-accor {
    border: none;
    height: 30px;
    font-size: 15px !important;
    font-weight: 100 !important;
    padding: 5px 15px;
	letter-spacing:1px;
	width:200px;
}

.form-control {
    display: block;
    width: 100%;
    height:32px;
    
    font-size: 14px;
    line-height: 1.5;
	color: #000 !important;
    background-color: #fff;
    background-image: none;
    border: 1px solid #999;
    border-radius: 4px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    color: #000;
    box-shadow: none;
}

textarea {
    resize: none;
}

.margin-top-0 {
    margin-top: 0;
}

.feature {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .feature {
        margin: 20px auto 0;
    }
}

.feature p {
    margin-bottom: 0;
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.gallery-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
    overflow:hidden;
}

.gallery-box .gallery-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(44,44,44,.8);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.gallery-box .gallery-box-caption .gallery-box-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.gallery-box:hover .gallery-box-caption {
    opacity: 1;
}

.gallery-box:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.gallery-box img {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
    opacity: 0.7;
	outline:0;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
	outline:0;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
    opacity: 0.7;
	outline:0;
}

.form-group label, .btn-group label{
	color:#111;
	font-size:14px;
	font-weight:100;
	font-family:arial;
	font-weight:700;
	}
.about_p{padding:5px;}
.about_p h3{color: #A52A2A;}
.about_p p {
    font-size:15px;
    line-height: 1.3;
	color:#222;
	margin-bottom:5px;
	letter-spacing:1px;
}
.text-input {
    width: 100%;
    height: 35px;
    border: 2px solid #888;
    padding: 0 10px;
    font-size: 14px;
    color: #000;
}
.text-area{
	    width: 100%;
		border: 2px solid #888;
		padding: 5px 10px;
		font-size: 14px;
		color: #222;
}
.pb10 {
    padding-bottom: 10px;
}
.cb {
    clear: both;
    line-height: 0;
    height: 0;
	margin-top:3px;
}
.btn3{
    background: #0193de;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    line-height: 40px;
    height: 40px;
    border: 0;
    padding: 0 14px;
    text-transform: uppercase;
	border-radius:4px;
}
.btn3x{
    background: #333;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    line-height: 40px;
    height: 40px;
    border: 0;
    padding: 0 14px;
    text-transform: uppercase;
	margin-left:3px;
	border-radius:4px;
}
.about_p ul ,ol{margin-bottom:30px;font-size:15px;
    line-height: 1.3;
	color:#222;
	margin-bottom:30px;letter-spacing:1px;
}
.btn-default .badge {
    color: #fff;
    background-color: #222;
}
.well-dash {
    padding: 19px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.table-dash{
	color:#000 !important;
	
}
.table-dash caption {
    padding-top: 8px;
	padding-bottom: 8px;
	color: #111;
	text-align: left;
	font-size: 18px;
	letter-spacing: 1px;
}
.nav-tabs a{
	color:#000 !important;
	letter-spacing:1px;
	font-size:15px;
}
.tab-content h3 {
    letter-spacing: 1px;
    color: #000;
    text-align: center;
    font-weight: 600;
}
.btn.btn-primary {
    border:1px solid #f0f0f0;
    border-color:#f0f0f0;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn.btn-primary:hover {
    opacity: 0.7;
}
.btn.btn-primary-trans {
    background-color: transparent;
    border:1px solid #f0f0f0;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
	border-radius:30px !important;
}

.btn.btn-primary-trans:hover {
	color:#fff;
	background-color:#D17447;
}
.btn {
    border: 0;
    border-radius: 290px;
    font-family: 'Helvetica Neue',Arial,sans-serif;
}

.btn-xl {
    padding: 12px 25px !important;
    font-size: 20px;
}
.btn-xl:hover,
.btn-xl:focus {
	border-color: #fff !important;
	transform: scale(1.1);
	transition:1s;
	color:#fff;

}
.navbar-brand.page-scroll > img {width:100px;}
::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}
.fq_box {
    border-bottom: 1px solid #000;
    padding: 0 0 0 60px;
    background: url(../image/fq.png) no-repeat 5px 0px;
}
.mt20 {
    margin-top: 20px;
}
.fq_ttl {
    font: 700 18px/24px 'Open Sans', Arial, Helvetica, sans-serif;
    color: #222;
	margin-bottom:10px;


}
.fq_text {
    margin: 10px 0 0 0;
    color: #333;
    overflow: hidden;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
}
.fq_text p {

    font-size: 15px;
    line-height: 1.3;
    margin-bottom:5px;
    letter-spacing: 1px;
}
 @-keyframes sonarEffect{
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #fff, 0 0 0 10px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #fff, 0 0 0 10px rgba(255, 255, 255, 0.5);
    -webkit-transform: scale(1.5);
    opacity: 0;
  }
}
@-moz-keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #ccc, 0 0 0 10px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #ccc, 0 0 0 10px rgba(255, 255, 255, 0.5);
    -moz-transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #ccc, 0 0 0 10px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #ccc, 0 0 0 10px rgba(255, 255, 255, 0.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
.fixed-filter{
	position: fixed;
    height: 100%;
    overflow: auto;
}
.border-shadow{
	border: 1px solid #CCC;
}
.bs-calltoaction{
    position: relative;
    width:auto;
    padding:5px 35px;
    border: 1px solid black;
    margin-top: 10px;
    border-radius:10px;
}

.company_name {
    font-size: 15px;
	color: #777;
    letter-spacing: 1px;
    text-align: center;
    float: left;
    margin-top: -60px;
    margin-left: 100px;
}
.result_shown{
	margin-top: 5px;
    margin-left: 12px;
}
}
.btn-width{
	margin:8px !important;
	width:150px !important;
	font-size:13px;
	text-transform:uppercase;
	border:none;
}
        .bs-calltoaction > .row > [class^="col-"],
        .bs-calltoaction > .row > [class*=" col-"]{
            float:none;
            display:table-cell;
            vertical-align:middle;
        }

            /* .cta-contents{
                padding-top: 10px;
                padding-bottom: 10px;
            } */

                .cta-title{
                    margin: 0 auto 15px;
                    padding: 0;
                }

                .cta-desc{
                   padding: 1px;
                }
				.cta-desc >.span_div{
					float: left;
					width:42%;
					text-align: right;
				}
				.cta-desc >.label_div{
					float: left;
					width:58%;
					text-align:left;
				}
				.cta-desc span{
                    font-size:14px;
					letter-spacing:1px;
					color:#777;
                }
				.cta-desc label{
                    font-size:16px;
					letter-spacing:1px;
					margin-left:10px;
					color:#70ad4d;
                }
            .cta-button{
                padding-top: 10px;
                padding-bottom: 10px;
            }

@media (max-width: 991px){
    .bs-calltoaction > .row{
        display:block;
        width: auto;
    }

        .bs-calltoaction > .row > [class^="col-"],
        .bs-calltoaction > .row > [class*=" col-"]{
            float:none;
            display:block;
            vertical-align:middle;
            position: relative;
        }

        .cta-contents{
            text-align: center;
        }
		.btn-width {
		margin: 8px !important;
		width: 150px !important;
		font-size: 11px;
		text-transform:uppercase;
		border:none;
	}
	.bs-calltoaction {
    position: relative;
    width: auto;
    padding: 5px 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
	margin-bottom: 20px;
    border-radius: 6px;
}
.btn-width {
   margin: 8px !important;
		width:150px !important;
		font-size: 14px;
		text-transform:uppercase;
		border:none;
}
}
@media (min-width: 1024px){
	.btn-width {
    margin: 8px !important;
		width:150px !important;
		font-size: 14px;
		text-transform:uppercase;
		border:none;
}
	.bs-calltoaction {
    position: relative;
    width: auto;
    padding: 5px 10px;
    border: 1px solid black;
    margin-top: 10px;
    border-radius: 10px;
	margin-bottom: 20px;
}
}

@media only screen and(min-width:320px) and(max-width:480px){
	
	.navbar-default{
	padding-bottom:10px !important;
}
.pop_h1{
	color:#fff;
	letter-spacing:1px;
	font-size:24px;
	text-align:center;
	background:#F4F8FB;
	padding:10px;
}
}
@media(max-width:320px){
	
	.btn-width{
	margin: 8px !important;
		width: 150px !important;
		font-size: 14px;
		text-transform:uppercase;
		border:none;
}
.bs-calltoaction {
    position: relative;
    width: auto;
    padding: 5px;
    border: 1px solid black;
    margin-top: 10px;
	margin-bottom: 20px;
    border-radius: 10px;
}
.navbar-default{
	padding-bottom:10px !important;
}
}
.cta-contents a img{
	width:80px;
	height:80px;
	margin-left:10px;
	border-radius:50%;
}

.bs-calltoaction.bs-calltoaction-default{
    color: #333;
    background-color: #fff;
    border-color: #ddd;
	padding:5px;
	box-shadow:0 1px 2px #ddd;
	}
.bs-calltoaction.bs-calltoaction-default:hover{
	box-shadow: 0 0 8px #888;
}

.bs-calltoaction.bs-calltoaction-primary{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.bs-calltoaction.bs-calltoaction-info{
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.bs-calltoaction.bs-calltoaction-success{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.bs-calltoaction.bs-calltoaction-warning{
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.bs-calltoaction.bs-calltoaction-danger{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.bs-calltoaction.bs-calltoaction-primary .cta-button .btn,
.bs-calltoaction.bs-calltoaction-info .cta-button .btn,
.bs-calltoaction.bs-calltoaction-success .cta-button .btn,
.bs-calltoaction.bs-calltoaction-warning .cta-button .btn,
.bs-calltoaction.bs-calltoaction-danger .cta-button .btn{
    border-color:#fff;
}.form-group-payment label{	color:#fff;	font-size:14px;	font-weight:100;}


.modal-header{background-color:#2bbbad;color:#000;}
.service-text h4{font-size:12px}
#toggle_event_editing .nav > li > a {
	display: block !important;
    padding:8px 15px !important;
    position: relative !important;
	color:#555 !important;
	font-size:14px;
	font-weight:600;
	font-family:sans-serif;	
}

#toggle_event_editing .nav-pills > li {
	border: 1px solid #ddd;
    float: left;
	border-radius:4px;
}
#toggle_event_editing .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
	background-color:#42CEB2 !important;
	outline:0;
	color:#fff !important;
	font-weight:600;
	font-family:sans-serif;	
}


#toggle_event_editing_motor .nav > li > a {
 display: block !important;
    padding:8px 15px !important;
    position: relative !important;
	color:#555 !important;
	font-size:14px;
	font-weight:600;
	font-family:sans-serif;	
}

#toggle_event_editing_motor .nav-pills > li {
	border: 1px solid #ddd;
    float: left;
	border-radius:4px;
}
#toggle_event_editing_motor .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
	background-color:#de6d75 !important;
	outline:0;
	color:#fff !important;
	font-weight:600;
	font-family:sans-serif;
	
}
#private_comm  .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
	 background-color:#de6d75 !important;
	 outline:0;
	color:#fff !important;
	font-weight:600;
	font-family:sans-serif;
}
#private_comm_general .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
	 background-color:#E6A65A !important;
	 outline:0;
}
#private_comm_bank .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
	 background-color:#4B76C2 !important;
	 outline:0;
}
#private_comm_health.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
	 background-color:#42CEB2 !important;
	 outline:0;
}
#paint-services  .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
	 background-color:#d17447 !important;
	 outline:0;
	
}
#toggle_event_editing .btn-login{
	
	background:#42CEB2 !important;
	color:#fff !important;
	font-family:Questrial;
	font-size:15px !important;
	font-weight:700 !important;
}
#motor-calculator .btn-login{
	
	background:#de6d75 !important;
	color:#fff !important;
	font-family:Questrial;
	font-size:15px !important;
	font-weight:700 !important;
}
#motor-service-calculator .btn-login{
	
	background:#4B76C2 !important;
	color:#fff !important;
	font-family:Questrial;
	font-size:15px !important;
	font-weight:700 !important;
}
#pest-control  .btn-login{
	
	background:#D17447 !important;
	color:#fff !important;
	font-family:Questrial;
	font-size:15px !important;
	font-weight:700 !important;
}
#paint-services  .btn-login{
	
	background:#D17447;
	color:#fff !important;
	font-family:Questrial;
	font-size:15px !important;
	font-weight:700 !important;
}
#rent-car  .btn-login{
	
	background:#776FCE !important;
	color:#fff !important;
	font-family:Questrial;
	font-size:15px !important;
	font-weight:700 !important;
}

#private_comm{
	margin-bottom:25px;
}
#private_comm .nav > li > a {
 display: block !important;
    padding: 5px 28px !important;
    position: relative !important;
 color:#000 !important;
}

#private_comm .nav-pills > li {
 border: 1px solid #999;
    border-radius:4px;
    float: left;
}
#cleaning .btn-login{
	background:#e6a65a !important;
	color:#fff !important;
	font-family:Questrial;
	font-size:15px !important;
	font-weight:700 !important;
}
 #home-btn a .active{
    color:#fff;
    background-color:#000;
	outline:0;
}
#home-btn  a .notActive{
    color:#fff;
    background-color:transparent;
}
.span_black{
 color:#111;
 font-size:15px;
 letter-spacing:1px;
 margin-right:5px;
}
.input_black{
	border: 1px solid #ddd;
    border-radius: 4px;
	color:#000;
	background-color:#fff;
	height:30px;
	border:1px solid #ccc;
}
.declaration_spacing li { margin:12px; }
.top1_dd_setting {
	display:none;
    position:absolute;
	z-index: 9;	
	border-radius: 2px;
    box-shadow: 0px 0px 8px 4px #20b2aa;
    border-radius: 6px;
    background: #fff;
	display:none;
	cursor: pointer; 
	border:none;
	transition:2s;
}

 .top1_dd_setting > .tuki_arrow {
    background: url(../images/tuki2_o.png) no-repeat; 
    float: right;
	margin: -24px 13px 0 0;
	width: 15px;
	height: 24px;
} 
/* .showhim_setting{ display:block;} */

#demo a:hover  > .top1_dd_setting{
	display : block;
	
}
.datepicker .dropdown-menu{
	z-index:1070 !important;
}
@media all and (max-device-width: 640px){
   .pop_h1{
	color:#000;
	letter-spacing:1px;
	font-size:24px;
	text-align:center;
	background:#F4F8FB;
	padding:10px;
}
   h2 {
    font-size: 20px;
	}
	.easybox {
    text-align: center;
    color: #fff;
    font-size: 30px;
}
 h4 {
    font-size: 15px;
    line-height: 1.3;
}
p {
    font-size: 12px;
    line-height: 1.3;
    margin-bottom: 17px;
}
#quote-carousel {
    margin-bottom: 0;
    padding: 0 15px;
    height: 300px;
}
}

@media all and (max-device-width: 320px){
   .pop_h1{
	color:#000;
	letter-spacing:1px;
	font-size:24px;
	text-align:center;
	background:#F4F8FB;
	padding:10px;
}
h2 {
		font-size: 18px;
	}
	.easybox {
    text-align: center;
    color: #fff;
    font-size: 30px;
}
 h4 {
    font-size: 15px;
    line-height: 1.3;
}
p {
    font-size: 12px;
    line-height: 1.3;
    margin-bottom: 17px;
}
#quote-carousel {
    margin-bottom: 0;
    padding: 0 15px;
    height: 300px;
}
}

/* new login */
.final-login li{
	width:50%;
}
.comapir_close {
  transition: all 0.5s;
  cursor: pointer;
}

.comapir_close span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.comapir_close span:after {
  content: '\274c';
  position: absolute;
  opacity: 0;
  top:10px;
  right: -20px;
  transition: 0.5s;
  font-size:15px;
}

.comapir_close:hover span {
  padding-right:50px;
}

.comapir_close:hover span:after {
  opacity: 1;
  right: 0;
}

.nav.nav-pills.nav-justified a{
	border:1px solid #ddd;
	color:#000;
	letter-spacing:2px;
	font-size:16px;
	font-weight:700;
}
.nav.nav-pills.nav-justified> li.active > a,
 .nav.nav-pills.nav-justified > li.active > a:focus, 
 .nav.nav-pills.nav-justified > li.active > a:hover{background:#0191DB !important;}
.tab_content_border{border:1px solid #ccc;}
.tab_content_border h3{background:#ccc;box-shadow:0px 1px 4px #ddd;padding:15px;}
.table-dash.table.table-hover.panel-group th{background:#0191DB;color:#fff;letter-spacing:1px;font-weight:200;}
.table-dash.table.table-hover.panel-group tr,th,td{border:1px solid #ddd;color:#111;}
.form-control::-moz-placeholder{color:#111 !important;}
.form-control::-webkit-placeholder{color:#111 !important;}

#enquiry-form{
	height: 0px;
	width: 85px;
	position: fixed;
	right: 0;
	top: 50%;
	z-index: 1000;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
#enquiry-form a {
	display: block;
	background:#000;
	height: 52px;
	padding-top: 10px;
	width: 155px;
	text-align: center;
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 17px;
	font-weight: bold;
	text-decoration: none;
}
#enquiry-form a:hover {
	background:#00495d;
}
/* Start Blog */
.blog-h4{padding-left:20px;}
.blog-h4 h4 a{color:#4B76C2 !important;font-weight:600;text-transform:capitalize;font-family:arial;letter-spacing:1px;}
.blog-h4 p{color:#111;font-size:15px;letter-spacing:1px;}
.list-inline .list-unstyled ul, li{color:#222;font-size:15px;letter-spacing:1px;}
.list-inline .list-unstyled li:last-child{float:right}
.blog-img{box-shadow:0 0 10px #222;width:150px;height:150px;}
.view-blog p{color:#111;font-size:15px;letter-spacing:1px;}
.view-title h1{color:#4B76C2 !important;font-weight:600;text-transform:capitalize;font-family:arial;letter-spacing:1px;}
.current-USP{border:1px solid #ccc;border-radius:8px;box-shadow:0 1px 3px #ddd;background:#777;}
.current-USP h3{color:#E6A65A;text-align:center;padding:10px;margin:0;border-bottom:1px solid #ddd;}
.usp-img{width:45px;height:45px;margin-right:5px;}
.media_list_usp{padding:10px;}
.media_list_usp li{padding:5px;}
.media_list_usp .usp-text{color:#fff;font-family:arial;}
.circleTab-enq{width:100px;height:100px;padding:10px;position:absolute;}
.ui-datepicker-title select{height:20px;border-radius:2px;padding:0;margin:2px;font-size:12px; font-weight:300;}

/* Start login CSS */
.login-sec h2{
	margin-bottom:30px; 
	font-weight:800;
	font-size:30px; 
	color: #DE6262;
	text-align:center;
	text-transform:capitalize;
}
.login-sec h2:after{
	content:" ";
	width:100px;
	height:5px; 
	background:#FEB58A; 
	display:block;
	margin-top:20px; 
	border-radius:3px;
	margin-left:auto;
	margin-right:auto;
}
.panel{background:none;border:0;}
	.panel-title a{color:#fff !important;}
	.panel-default > .panel-heading{border:none !important; background:none !important;padding:5px 10px !important;}
	.panel .panel_without_bg .panel-default > .panel-heading{border:none !important;background:none !important;}
	
	.fancy {
			line-height: 0.5;
			text-align: center;
			margin:0;
		}
		.fancy span::before, .fancy span::after {
			border-bottom: 1px solid #888;
			content: "";
			height: 3px;
			position: absolute;
			top: 0;
			width: 80px;
		}
		.fancy span::before {
			margin-right: 15px;
			right: 100%;
		}
		.fancy span::after {
			left: 100%;
			margin-left: 15px;
		}
		.fancy span {
			display: inline-block;
			position: relative;
		}
		.no_email_btn{width:50%;padding:10px 1px;float:left;}
		.margin_div_all{margin-bottom:8px;margin-top:0;}
		.container_demo {max-width:350px;margin:0 auto;}
		.panel-group .btn6{width:100%;}	
		.btn6, .btn6:visited{background:#E79620; display:inline-block; text-align:center; color:#fff; font-size:12px; font-weight:600; line-height:32px; height:32px; border:0; padding:0px 28px; text-transform:uppercase}
.btn6:hover{background:#555; color:#fff;}
#login-user-content p{font-size:16px; color:#444;font-family:Verdana;}
#login-user-content p:first-child{font-size:24px; color:#0191db;font-family:arial;font-weight:700;font-family:cursive;}
.
/* End login CSS */
.button-position-color a{text-decoration:none;}
.button-position-color a:hover{text-decoration:none;}
.table_pop{border:0 !important;}
.table_pop th, tr, td{border:none !important;}
.table_pop span{font-size:16px;text-align:right;font-weight:700;}
.table_pop p{font-size:14px;text-align:right;}